.break_team {
  object-fit: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  margin: 0% 0% 0% 0%;
  padding: 20% 0% 0% 0%;
  overflow: hidden;
  background-color: var(--color-main);
}

.break_teamTitleContainer {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 1% 0% 1% 0%;
  margin: 1% 0% 0% 0%;
}

.break_TeamImage {
  width: 10%;
}




@media only screen and (max-width: 560px) {  
  .break_team {
    padding-top: 70%;
    width: 100%;
  }

  .break_teamTitleContainer {
    width: 100%;
  }

  .break_TeamImage {
    width: 80%;
  }
}
