.about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main);
  padding: 10% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  overflow: hidden;
}

.aboutLeftContainer {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 0% 10% 0% 0%;
  margin: 0% 0% 0% 0%;
}

.aboutRightContainer {
  padding: 0% 5% 0% 0%;
  margin: 0% 0% 0% 0%;
  flex: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.aboutImageContainer {
  margin: 0% 0% 0% 0%;
  padding: 5% 0% 5% 0%;
}

.aboutImage {
  border-radius: 0px;
  width: 70%;
  align-items: right;
  justify-content: right;
  float: right;
}

.aboutTextImage {
  border-radius: 0px;
  width: 90%;
  align-items: left;
  justify-content: left;
  float: left;
}


.aboutTextContainer {
  width: 90%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.aboutText {
  text-align: center;
  color: var(--color-lightyellow);
  background-color: black;
  font-size: 23px;
  text-decoration: none;
  width: 90%;
  padding-bottom: 4%;
}

.aboutTextTop {
  padding-top: 3%;
  border-radius: 15px 15px 0px 0px;
}

.aboutTextBottom {
  border-radius: 0px 0px 15px 15px;
}

.aboutLink {
  width: 45%;
}

.aboutLink:hover {
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -o-transform: scale(1.10);
  transform: scale(1.10);
}

.aboutLink:active {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

@media only screen and (max-width: 560px) {
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin: 50% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
  }

  .aboutRightContainer {
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  .aboutLeftContainer {
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .aboutTextContainer {
    width: 100%;
    padding: 0% 0% 0% 0%;
    margin: 10% 0% 0% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .aboutText {
    font-size: 15px;
    width: 100%;
    padding: 0% 5% 5% 5%;
    margin: 0% 0% 0% 0%;
  }

  .aboutTextTop {
    padding-top: 5%;
  }

  .aboutImageContainer {
    margin: 0% 0% 0% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .aboutImage {
    width: 110%;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
  }

  .aboutTextImage {
    width: 110%;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
  }
}
