.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 0% 0% 1.75% 0%;
  margin: 9% 0% 0% 0%;
  overflow: hidden;
}


.contactImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0%;
}

.contactLinkContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactImage {
  width: 50%;
}

.artistHREFbox {
  justify-content: right;
  padding-right: 2.5%;
}


.brandHREFbox {
  justify-content: center;
}

.contactHREFbox {
  justify-content: left;
}


.brandLink {
  padding-right: 0%;
}




@media only screen and (max-width: 560px) {
  .contact {
    padding-top: 5%;
  }
  
  .contactImage {
    width: 70%;
  }

  .artistHREFbox {
    padding-left: 3%;
  }
}
