.bannerContainer {
  object-fit: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8% 0% 0% 0%;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-main);
}

.banner {
  width: 100%;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.bannerImage {
  width: 20%;
  padding: 0% 1% 2% 1%;
}

.bannerTitle {
  width: 20%;
  padding: 0% 1% 2% 1%;
}


@media only screen and (max-width: 560px) {
  .banner {
    padding-top: 25%;
  }

  .bannerImage {
    width: 50%;
  }

  .bannerTitle {
    width: 70%;
    padding: 5% 1% 2% 1%;
  }

}
